.ag-theme-alpine .ag-pivot-mode-panel {
  display: none;
}
.ag-theme-alpine .center-align-text {
  text-align: center;
}
.ag-theme-alpine .center-align-left {
  text-align: left;
}
.ag-theme-alpine .no-padding {
  padding: 0;
}