.ag-theme-alpine .ag-pivot-mode-panel {
  display: none;
}
.ag-theme-alpine .center-align-text {
  text-align: center;
}
.ag-theme-alpine .center-align-left {
  text-align: center;
}
.ag-theme-alpine .no-padding {
  padding: 0;
}
.ag-theme-alpine .ag-column-select-header {
  display: none;
}
.ag-theme-alpine .actionColumnHeader .ag-header-cell-text {
  display: none;
}
.ag-theme-alpine .allColumnHeader:hover{
  background-color: #E5E5E5;
}