.ag-theme-alpine .ag-pivot-mode-panel {
  display: none;
}

.ag-theme-alpine .center-align-text {
  text-align: center;
}

.ag-theme-alpine .center-align-left {
  text-align: center;
}

.ag-theme-alpine .no-padding {
  padding: 0;
}

.ag-theme-alpine .ag-column-select-header {
  display: none;
}

.ag-theme-alpine .actionColumnHeader .ag-header-cell-text {
  display: none;
}

.ag-theme-alpine .allColumnHeader:hover {
  background-color: #e5e5e5;
}

.ag-theme-alpine .allColumnHeader .ag-header-cell-text {
  white-space: initial;
}

.ag-header-cell-label,
.ag-header-group-cell-label {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  align-items: center;
  text-overflow: ellipsis;
  align-self: stretch;
  text-align: center;
}

.ag-row-hover {
  cursor: pointer !important;
}

.ag-header-cell[aria-sort='descending'] {
  background-color: rgba(255, 237, 213, 0.5) !important;
}
.ag-header-cell[aria-sort='ascending'] {
  background-color: rgba(255, 237, 213, 0.5) !important;
}
.ag-header-cell.ag-header-cell-filtered {
  background-color: rgba(255, 228, 230, 0.5) !important;
}

/* .ag-header-cell-filtered .ag-cell-label-container{
  background-color: rgba(255, 228, 230, 0.5);
} */

/* .ag-header-cell-sortable:has(.ag-header-cell-sorted-asc) {
  background-color: red !important;
}
.ag-header-cell-sortable:has(.ag-header-cell-sorted-desc) {
  background-color: red !important;
} */
